.header {
  margin-bottom: 20px;
  text-align: center;
}

.header h1 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 24px;
  }
}
